<h2 class="text-center">Lista películas</h2>
<br />
<table class="table table-striped text-center">
  <thead class="table-dark">
    <tr>
      <th>Título</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pelicula of peliculas">
      <td>{{ pelicula.titulo }}</td>
      <td>
        <button
          (click)="verDetallesPelicula(pelicula.id)"
          class="btn btn-primary"
          style="margin-left: 10px"
        >
          Ver detalles
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div class="d-flex justify-content-between">
<button class="btn btn-danger" routerLink="/home">
  Volver al menú prinicpal
</button>
<button class="btn btn-success">
  <a class="text-white text-decoration-none" 
  [routerLink]="['/peliculas/crear']" routerLinkActive="router-link-active" 
  >Agregar nueva película</a>
</button>
</div>