<nav data-bs-theme="dark" class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a
      class="navbar-brand"
      [routerLink]="['/home']"
      routerLinkActive="router-link-active"
      >VANF-X</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            [routerLink]="['/home']"
            routerLinkActive="router-link-active"
            class="nav-link"
          >
            Home
          </a>
        </li>
        <li class="nav-item">
          <a
            [routerLink]="['/personajes']"
            routerLinkActive="router-link-active"
            class="nav-link"
          >
            Personajes
          </a>
        </li>
        <li class="nav-item">
          <a
            [routerLink]="['/peliculas']"
            routerLinkActive="router-link-active"
            class="nav-link"
          >
            Películas
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
<!--

-->
