<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark">
  <div class="container-fluid" >
    <a
      class="navbar-brand text-white"
      [routerLink]="['/home']"
      routerLinkActive="router-link-active"
      >VANF-X</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon" ></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            [routerLink]="['/home']"
            routerLinkActive="router-link-active"
            class="nav-link text-white"
          >
            Home
          </a>
        </li>
        <li class="nav-item">
          <a
            [routerLink]="['/personajes']"
            routerLinkActive="router-link-active"
            class="nav-link  text-white"
          >
            Personajes
          </a>
        </li>
        <li class="nav-item">
          <a
            [routerLink]="['/peliculas']"
            routerLinkActive="router-link-active"
            class="nav-link text-white"
          >
            Películas
          </a>
        </li>
        <li class="nav-item">
          <a
            [routerLink]="['/generos']"
            routerLinkActive="router-link-active"
            class="nav-link text-white"
          >
            Géneros
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>
<div class="container">
  <router-outlet></router-outlet>
</div>
<!--

-->
