<h2 class="text-center">Lista personajes</h2>
<br>
<table class="table table-striped text-center">
    <thead class="table-dark">
        <tr>
            <th>Nombre</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let personaje of personajes">
            <td>{{personaje.nombre}}</td>
            <td>
                <button (click)="verDetallesPersonaje(personaje.id)"  class="btn btn-primary" style="margin-left: 10px;">Ver detalles</button>
            </td>
        </tr>
    </tbody>
</table>
<button  class="btn btn-success" style="margin-left: 10px;">
    <a class="text-white text-decoration-none" [routerLink]="['/personajes/crear']" routerLinkActive="router-link-active"  >Agregar nuevo personaje</a>
</button>
