<div class="container text-center">
  <h2>Proyecto Películas</h2>
  <h6>(Se me quemaron las neuronas para el nombre)</h6>
  <img src="../../assets/img/logo.png" class="img-fluid my-5" alt="logo" />
  <br />
  <button class="btn btn-warning">
    <a
      href="https://github.com/vanf-x?tab=repositories"
      target="_blank"
      class="text-decoration-none text-white fs-3 fw-bold"
      >Ir a mi Github</a
    >
  </button>
  <br>
  <br>
  <button class="btn btn-danger">
    <a
      href="https://github.com/vanf-x/alkemy-challenge-front"
      target="_blank"
      class="text-decoration-none text-white fs-3 fw-bold"
      >Ir al Github del proyecto (front)</a
    >
  </button>
  <br>
  <br>
  <button class="btn btn-primary">
    <a
      href="https://github.com/vanf-x/alkemy-challenge-back"
      target="_blank"
      class="text-decoration-none text-white fs-3 fw-bold"
      >Ir al Github del proyecto (back)</a
    >
  </button>
</div>
